<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AM.FRS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AM.FRS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <AM.FRS.Properties.Settings>
      <setting name="CascadeClassifierScaleFactor" serializeAs="String">
        <value>1.2</value>
      </setting>
      <setting name="CascadeClassifierMinNeighbours" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="CascadeClassifierMinSize" serializeAs="String">
        <value>50, 50</value>
      </setting>
      <setting name="CascadeClassifierMaxSize" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="EigenFaceRecognizerNumComponents" serializeAs="String">
        <value>80</value>
      </setting>
      <setting name="EigenFaceRecognizerThreshold" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="EigenFaceRecognizerThresholdInfinity" serializeAs="String">
        <value>False</value>
      </setting>
    </AM.FRS.Properties.Settings>
  </userSettings>
  <system.diagnostics>
    <!-- This logging is great when WCF does not work. -->
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="false">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="G:\AM_FRS_Service.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <applicationSettings>
    <AM.FRS.Properties.Settings>
      <setting name="DefaultCascadeClassifierScaleFactor" serializeAs="String">
        <value>1.2</value>
      </setting>
      <setting name="DefaultCascadeClassifierMinNeighbours" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="DefaultCascadeClassifierMinSize" serializeAs="String">
        <value>50, 50</value>
      </setting>
      <setting name="DefaultCascadeClassifierMaxSize" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="DefaultEigenFaceRecognizerNumComponents" serializeAs="String">
        <value>80</value>
      </setting>
      <setting name="DefaultEigenFaceRecognizerThreshold" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DefaultEigenFaceRecognizerThresholdInfinity" serializeAs="String">
        <value>True</value>
      </setting>
    </AM.FRS.Properties.Settings>
  </applicationSettings>
</configuration>