<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="tcpBindingConfig" closeTimeout="01:01:00" openTimeout="01:01:00" receiveTimeout="01:01:00" sendTimeout="01:01:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <!--<security mode="None">
            <transport clientCredentialType="None" protectionLevel="None" />
            <message clientCredentialType="None" />
          </security>-->
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="AM.QRService.QRService">
        <endpoint address="QRService" binding="netTcpBinding"
          bindingConfiguration="tcpBindingConfig" contract="AM.QRService.Contracts.IQRService" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8091/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <system.diagnostics>
    <!-- This logging is great when WCF does not work. -->
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="false">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="G:\AM_QR_Server.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>