<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="endpointBehavior" >
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="tcpBindingConfig" closeTimeout="01:01:00" 
                  openTimeout="01:01:00"
                 receiveTimeout="01:01:00" 
                 sendTimeout="01:01:00" 
                 maxBufferPoolSize="2147483647"
                 maxReceivedMessageSize="2147483647"
                 maxBufferSize="2147483647" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address ="net.tcp://localhost:8090/AutomatedAttendanceSystem"
                binding ="netTcpBinding"
                contract ="AAS.Service.IAutomatedAttendanceSystem"
                behaviorConfiguration="endpointBehavior"
                bindingConfiguration="tcpBindingConfig"
                />
      <endpoint address ="net.tcp://localhost:8091/QRService"
                binding ="netTcpBinding"
                contract ="AM.QRService.Contracts.IQRService"
                behaviorConfiguration="endpointBehavior"
                bindingConfiguration="tcpBindingConfig"
                />
                
      <endpoint address ="net.tcp://localhost:8092/FaceRecognitionService"
          binding ="netTcpBinding"
          contract ="AM.FRS.Contracts.IFaceRecognitionService"
          behaviorConfiguration="endpointBehavior"
          bindingConfiguration="tcpBindingConfig"
                />
    </client>
  </system.serviceModel>
  <system.diagnostics>
    <!-- This logging is great when WCF does not work. -->
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="false">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData= "G:\ass_client.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>